body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(273deg,#0f0f0f, #1f1f1f);
    color: white;
    height: 100vh
}
.Login-Container{
    display: flex;
     justify-content: center;
     align-items: center;
      height: 100vh;
      width: 100vw;
position: relative;

}
.Login-Box{
    background-color: #2a2a2a;
     padding: 3rem;
      border-radius: 20px;
      box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
       width: 90%;
       max-width: 400px;
        text-align: center;}
        .signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.Form input {
    flex:1;
    padding: 0.8rem 1rem;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    background-color: #1e1e1e;
    color: white;
    gap: 10px;
}
.Form button {
    padding: 0.8rem 8rem;
    border-radius: 12px;
    background-color:#7A1CAC;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color, 0.2s ease-in-out;

}
.Form button:hover{
    background-color:  #AD49E1;
}
@media (max-width: 768px) {
    .Login-Box {
        padding: 2rem;
        width:90%
    }
}