.my-masonry-grid {
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

/* Optional for spacing between cards */
.my-masonry-grid_column > div {
  margin-bottom: 15px;
}
.feed {
background: linear-gradient(180deg, #575555, #050505); /* dark purple gradient */
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;

}
